:root {
	--tamano-fuente-primario: 1rem;
	/* 16px */
	--tamano-fuente-secundario: 0.875rem;
	/* 14px */

	--primer-plano: #333;
	/* Color de texto principal */

	--fondo: #f9f9f9;
	/* Color de fondo */

	--color-borde: #ccc;
	/* Color del borde */
	--borde-abreviado: 1px solid var(--color-borde);

	/* Botón */
	--hover-color-texto-boton: #fff;
	/* Color de texto al pasar el ratón por encima del botón */
	--hover-color-fondo-boton: #007bff;
	/* Color de fondo al pasar el ratón por encima del botón */
	--tamano-fuente-boton: 0.875rem;
	/* 14px */

	--siete: 0.438rem;
	/* 7px */
	--doce: 0.75rem;
	/* 12px */

	/* Fuentes */
	--familia-fuente-primaria: 'Roboto', sans-serif;
	--familia-fuente-secundaria: 'Arial', sans-serif;
}

*,
*::before,
*::after {
	color: var(--primer-plano);
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	margin: 0;
	font-size: var(--tamano-fuente-primario);
	font-family: var(--familia-fuente-primaria);
	background-color: var(--fondo);
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}

.contenedor {
	max-width: 50.3rem;
	margin-inline: auto;
	padding: 0 calc(var(--doce) * 2);
}

/* Encabezado */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: var(--borde-abreviado);
	margin-bottom: 1.75rem;
}

header a {
	padding-bottom: 2px;
	text-decoration: none;
	color: inherit;
}

.navegacion ul {
	display: flex;
	gap: 1.125rem;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.pagina-actual {
	border-bottom: var(--borde-abreviado);
}

/* Pie de página */
footer {
	color: white;
	background: var(--primer-plano);
	padding: 1em calc(var(--doce) * 2);
	margin-top: 2.5rem;
	text-align: center;
	position: sticky;
	top: 100%;
}

.derechos-autor {
	color: inherit;
}

/* Aviso / Enlace */
#notice {
	margin-top: 0.656rem;
	padding: 0 var(--siete);
	font-size: var(--tamano-fuente-secundario);
	text-align: center;
	line-height: 1.1;
	word-wrap: break-word;
}

/* Media Query */
@media (hover: hover) {
	.navegacion ul li a:hover {
		border-bottom: var(--borde-abreviado);
	}
}

@media (max-width: 90rem) {

	/* Tamaño de Fuente */
	html {
		font-size: calc(1rem - 10%);
	}

	/* -------- */

	header {
		flex-direction: column;
	}

	.titulo-principal {
		margin-bottom: 0.67rem;
	}

	.navegacion {
		margin-bottom: 1.5rem;
	}

	.navegacion ul {
		gap: 2.25rem;
	}
}